
<html>
	
<head>
 <title>Home</title
 
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/swiper-bundle.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/site.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/navbar.css') }}">
		<div class="topnav">

		 
				<a class="nav-link" href="/">Home </a>
		
		        <a class="nav-link" href="/books">Books</a>
				
				<a class="nav-link" href="/login">Login</a>
		   
		  </div>
</head>
<body style=" background-image: url('/static/images/book.jpg')">

	 <div class="container">
        <!-- It contains an article -->
        <article>
            <h2>100 Children’s Authors and Illustrators Everyone Should Know</h2>

            <p>
                It’s not impossible to list every great author and illustrator 
                of children’s books out there, but it would be an extraordinarily 
                long list! This list is meant to help introduce children and caring 
                adults to 100 creators who are acclaimed in the field of children’s 
                literature and connect kids to thoughtful, engaging, and joyful reading experiences.
            </p>
            <p>
                This list is organized by age range and then by the author’s last name,
                though many of these authors and illustrators create books for all ages of 
                readers. Getting to know these authors and illustrators gives kids the opportunity to continue to read favorite writers as they grow.
            </p>
			<p>
                Authors of beloved classics such as Beatrix Potter, A.A. Milne,
                Lewis Carroll, Margaret Wise Brown, E.B. White, C.S. Lewis, Roald Dahl, 
                Beverly Cleary, Eric Carle, Richard Scarry, Maurice Sendak, and Judy Blume for example, 
                have not been included here as they already are quite well-known, having published enduring 
                titles that many generations have enjoyed. Nor will you find contemporary best-selling household 
                names such as Jeff Kinney, J.K. Rowling, Dav Pilkey, Rick Riordan, and R. J. Palacio on this list as 
                they produce wildly popular titles that kids will likely encounter through word of mouth or in other media.
                Of course, everyone has their favorites! If there are other authors or illustrators you think everyone should know, please share your suggestions in the comments.
            </p>

            <h2>Finding Children’s Books in a Pandemic</h2>
            <h4>Audible</h4>
            <p>
                For as long as schools are closed, Audible is 
                offering children and teenagers the chance to 
                listen to audiobooks for free. Instantly 
                hundreds of Audible originals, fairy tales 
                or classic books, including titles across eight different languages.
            </p>
            <h4>Benetech’s Bookshare</h4>
            <p>
                Bookshare provides students with dyslexia, blindness, cerebral palsy, 
                and other reading barriers with access to more than 800,000 titles in easy-to-read formats, 
                such as audio, braille or large font. Bookshare is free for qualified U.S. students of any age
                through an award from OSEP (Office of Special Education Programs, U.S. Department of Education).
            </p>
            <p>
                Bookshare also offers nearly 10,000 public domain books that anyone, 
                including non-members, can read with Bookshare Web Reader and other 
                compatible tools. Learn how to find and read freely available Bookshare books.
            </p>
         
        </article>

    </div><!-- the aside content can also be nested within the main content -->
     
		
</body>
</html>